@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;
@model IEnumerable<Collection>

@{
    ViewData["Title"] = "Profile";
}
@if (ViewBag.User.Id == null)
{
    ViewBag.User.Id = UserManager.GetUserId(User);
}
<div class="row">
    <div class="col-12" style="background-color: #cdcdcd">
        <div class="dropdown float-end">
            <a class="btn text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu text-small" style="background-color: #9a9a9a;">
                <li><a class="dropdown-item" style="background-color: #9a9a9a" asp-controller="Collections" asp-action="Create" asp-route-id="@ViewBag.User.Id">Create new Collection</a></li>
            </ul>
        </div>
        <br />
        <h2 class="text-center font-monospace">
            @ViewBag.User.FullName
        </h2>
        <hr />
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10 col-sm-10 offset-sm-1 offset-md-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th class="text-center">Name</th>
                    <th class="text-center">Description</th>
                    <th class="text-center">Theme</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">@item.Name</td>
                        <td class="text-break" align="center">@item.Description</td>
                        <td align="center">@item.Theme</td>
                        <td align="center">
                            <a class="btn btn-outline-primary" asp-controller="Collections" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> |
                            <a class="btn btn-outline-info" asp-controller="Collections" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-controller="Collections" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>