@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager;
@model Item
@{
    ViewData["Title"] = "Details of the Item";
}
<div class="row">
    <div class="col-2 offset-1 bg-secondary rounded">
        <img src="@Model.Collection.ImageUrl" class="rounded-circle float-start img-thumbnail" style="max-height: 200px;" />
    </div>
    <div class="col-8 bg-secondary">
        <div class="dropdown float-end">
            <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu text-small bg-secondary" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@Model.Id">Edit Item</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item bg-danger rounded" asp-action="Delete" asp-route-id="@Model.Id">Delete Item</a></li>
            </ul>
        </div>
        <h2 class="text-center">@Model.Name</h2>
        <hr />
        <h4 class="font-monospace text-start text-break">
            Description:@Model.Description
            <br />
            Theme: @Model.Collection.Theme
            <br />
            Collection: <a asp-action="Details" class="btn btn-secondary" asp-controller="Collections" asp-route-id="@Model.CollectionId">@Model.Collection.Name</a>
        </h4>
    </div>
</div>
<br />
<br />
<br />
<div class="row">

    @if (User.Identity.IsAuthenticated)
    {
        <div class="col-10 offset-1 bg-secondary rounded-3">
            <div class="input-group input-group-sm mb-0">
                <form class="container-fluid d-flex" asp-action="Comment">
                    <span class="input-group-text">Добавить комментарий:</span>
                    <input type="hidden" asp-for="Id">
                    <input type="text" name="comment" class="form-control" required>
                    <button class=" btn btn-success" type="submit">Send</button>
                </form>
            </div>
        </div>
    }
    <div class="col-10 offset-1 bg-secondary rounded-3">
        <h2>Комментарии:</h2>
    </div>
    @foreach (var item in ViewBag.Comments)
    {
        <div class="col-10 offset-1 bg-secondary rounded-2">
            <p><b>@item.UserName</b></p>
            <p>@item.value</p>
        </div>
    }
</div>
