@using Microsoft.AspNetCore.Identity

@inject UserManager<ApplicationUser> UserManager;
@model IEnumerable<Item>

@{
    ViewData["Title"] = "Details of the Collection";
}
<div class="row">
    <div class="col-2 offset-1 bg-secondary rounded">
        <img src="@ViewBag.Collection.ImageUrl" class="rounded-circle float-start img-thumbnail" style="max-height: 200px;" />
    </div>
    <div class="col-8 bg-secondary">
        @if (@ViewBag.Collection.UserId == UserManager.GetUserId(User))
        {
            <div class="dropdown float-end">
            <a class="d-block link-dark text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-three-dots-vertical"></i>
            </a>
            <ul class="dropdown-menu text-small bg-secondary" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" asp-controller="Items" asp-action="Create" asp-route-id="@ViewBag.Collection.Id">Create new item</a></li>
                <li><a class="dropdown-item" asp-action="Edit" asp-route-id="@ViewBag.Collection.Id">Edit Collection</a></li>
                <li><hr class="dropdown-divider"></li> 
                <li><a class="dropdown-item bg-danger rounded" asp-action="Delete" asp-route-id="@ViewBag.Collection.Id">Delete Collection</a></li>
            </ul>
        </div>
        }
        <h2 class="text-center">@ViewBag.Collection.Name</h2>
        <hr />
        <h4 class="font-monospace text-start text-break">
            Description:@ViewBag.Collection.Description
            <br />
            Theme: @ViewBag.Collection.Theme
        </h4>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-10 offset-1">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="align-middle">@item.Name</td>
                        <td class="align-middle text-break">@item.Description</td>
                        
                        <td class="align-middle">
                            <a class="btn btn-outline-info" asp-controller="Items" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a>
                            @if (@ViewBag.Collection.UserId == UserManager.GetUserId(User))
                            {
                                <a class="btn btn-outline-primary" asp-controller="Items" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Edit </a> 
                                <a class="btn btn-danger text-white" asp-controller="Items" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                            }
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>