@using ProjectComplete.Models
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Admin Panel";
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <thead>
                <tr>
                    <th class="text-center">UserName</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td align="center">
                            <p>@item.UserName</p>
                        </td>
                        <td align="center">
                            <p>@item.Email</p>
                        </td>
                        <td align="center">
                            <a class="btn btn-outline-primary" asp-action="newAdmin" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i>Admin </a> |
                            <a class="btn btn-outline-info" asp-action="Details" asp-controller="Account" asp-route-id="@item.Id"><i class="bi bi-eye"></i>Details </a> |
                            <a class="btn btn-danger text-white" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash"></i>Delete </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>

    </div>
</div>